# proxy example
Host tc
    HostName 192.168.31.19
    #RequestTTY force
    #RemoteCommand "/home/hotsnow/bin/tmux-attch.sh"
    #RemoteCommand "/usr/bin/tmux list-session && tmux attacch-session -t 0 || tmux"
    #ProxyCommand ssh -q nat22 nc -q0 %h 22
    #ProxyCommand ssh wr1200js -W %h:%p
    #ProxyCommand ssh -q xxx@10.150.0.100 nc -q0 10.6.129.13  22

#Host tor2*
#    VerifyHostKeyDNS no
#    ProxyCommand nc -X 5 -x localhost:9050 %h %p

Host *
    IdentityFile ~/.ssh/id_ed25519
    ForwardAgent yes
    AddKeysToAgent yes
    UseKeychain yes
    Compression yes
    # for sockets reuse
    ControlMaster auto
    ControlPath ~/.ssh-sockets/%r@%n-%p
    ControlPersist 60
    ServerAliveInterval 30
    TCPKeepAlive no 
