############################
# Only for Linux
############################
alias ls="ls --color=auto"

# make xterm support gbk
alias wterm='export export LC_ALL=zh_CN.gbk; luit -encoding gbk screen'
alias xterm='xterm -fullscreen -fg green3 -bg black -geometry 155x55 -fn -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1'

# ssh key chan
/usr/bin/keychain -Q -q ~/.ssh/id_rsa
[[ -f $HOME/.keychain/$HOSTNAME-sh ]] && source $HOME/.keychain/$HOSTNAME-sh

export PROMPT_COMMAND='echo -e "\033]0;$(whoami)@$(hostname):$(pwd)\007"'
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND"
# set for screen window title
if [[ "$TERM" == "screen" ]]; then
    export PROMPT_COMMAND='echo -e -n k`whoami`@`pwd`\\'
fi

## ibus
#export XMODIFIERS="@im=ibus"
#export XIM=ibus
#export GTK_IM_MODULE=xim
#export QT_IM_MODULE=xim
## fcitx
#export LC_CTYPE="zh_CN"
#export XMODIFIERS="@im=fcitx"
#export XIM=fcitx
#export XIM_PROGRAM=/usr/bin/fcitx
#export GTK_IM_MODULE=xim
#export QT_IM_MODULE=xim

alias w3m='w3m -4 www.google.cn'
alias ug='sudo apt-get update && sudo aptitude safe-upgrade'

## do something before reboot and halt
#sub_encfs() {
#    if [[ -n "$(ls ~/mybox)" ]]; then
#        /usr/bin/fusermount -u ~/mybox
#        [[ "test$?" == "test0" ]] && {
#            echo "`date` umount encfs" |tee -a ~/.encfs.log
#            ssh-agent -k
#            rm -f ~/.agent.env
#            history -c
#        }
#    else
#        echo "`date` mybox not mount" |tee -a ~/.encfs.log
#    fi
#}
#
#reboot() {
#    sub_encfs
#    sudo /sbin/reboot
#}
#
#halt() {
#    sub_encfs
#    sudo /sbin/halt -p
#}
