#######################
# Only for MAC bash
#######################

export LSCOLORS=Exfxcxdxbxegedabagacad
alias ls="ls -GF"
alias ssh="ssh -o UseKeychain=yes"
which wget &>/dev/null || alias wget="curl -O"

#brew install md5sha1sum
which md5sum &>/dev/null || alias md5sum="md5 -r"

alias bash='/usr/local/bin/bash'

#alias wterm='luit -encoding gbk screen -T windows'
#alias wterm='export LC_ALL=zh_CN.gbk; /usr/X11R6/bin/luit -encoding gbk screen'
alias wterm='export LC_ALL=zh_CN.gbk; /usr/local/bin/luit -encoding gbk screen'
#alias nfsmount='sudo mount -t ntfs -o rw,auto,nobrowse /dev/disk3s1 /Volumes/ntfs'

export GIT_SSH_COMMAND="ssh -o UseKeychain=yes"
#export PYTHONPATH=/usr/local/lib/python2.7/site-packages:$PYTHONPATH
#export PATH=/usr/local/opt/e2fsprogs/sbin:/usr/local/opt/e2fsprogs/sbin:$PATH

[ -f /usr/local/etc/bash_completion ] && . /usr/local/etc/bash_completion

[ -d /usr/local/opt/coreutils/libexec/gnubin ] && export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
[ -d /usr/local/opt/gnu-sed/libexec/gnubin ] && export PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"
