.idea
.kube
.vs
.vscode
.history
*.orig
*.swp
.env
*.bak
*.DS_Store
/acs/scripts/*.compiled
/services/*/target/*
docker/hubot/authentication/env
docker/hubot/src/node_modules/*
docker/hubot/src/.hubot_history
docker/hubot/src/coverage/*
docker/hubot/src/package-lock.json
docker/hubot/src/.nyc_output/*
docker/api/app/config/config.yaml
docker/api/app/config/jira_test_ssl
docker/api/app/src/fleetboard.net/polaris/pkg
docker/env-extra
npm-debug.log
yarn.lock
.cfg/*
.vim/plugged/*
.tmux/plugins/*

